#### 1. Use the Notebook to build the code to scrape the Wikipedia page, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe:

In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response=requests.get(url)
df_trwk=pd.read_html(response.content, header=0)[0]
df_trwk.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df_trwk.shape

(289, 3)

#### 2. Cleasing data
##### 2-1. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [3]:
df_trwk2=df_trwk[df_trwk.Borough != 'Not assigned']
df_trwk2.reset_index(drop=True, inplace=True)

df_trwk2.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [5]:
df_trwk2.shape

(212, 3)

##### 2-2. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [4]:
df_trwk2['Neighbourhood'].replace('Not assigned', df_trwk2['Borough'],inplace=True)
df_trwk2.head(12)

/home/jupyterlab/conda/lib/python3.6/site-packages/pandas/core/generic.py:5886: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

   Postcode           Borough     Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Queen's Park
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North
11      M4B         East York  Woodbine Gardens

##### 2-3. More than one neighborhood can exist in one postal code area.  These rows will be combined into one row with the neighborhoods separated with a comma

In [7]:
df_trcom = (df_trwk2.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ', '
            .join(set(x.dropna()))).reset_index())

df_trcom.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Malvern, Rouge
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Morningside, Guildwood, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      Ionview, Kennedy Park, East Birchmount Park
7      M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8      M1M  Scarborough  Cliffside, Scarborough Village West, Cliffcrest
9      M1N  Scarborough                      Cliffside West, Birch Cliff

In [6]:
df_trcom.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Richview Gardens, Kingsview Village, St. Phill...
101      M9V  Etobicoke  Mount Olive, South Steeles, Thistletown, Silve...
102      M9W  Etobicoke                                          Northwest

#### 3. Use the .shape method to print the number of rows of your dataframe.

In [8]:
df_trcom.shape

(103, 3)